body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


/* Header Başlangıç */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00509e;
    color: white;
    padding: 20px 20px;
}

.header .logo h1{
    margin: 0px;
    font-size: 25px;
}

.adminlogin {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: #1bbeb6;
    color: #000000;
    border: none;
    cursor: pointer;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
}

/* Header Bitiş */





/* Hero Başlangıç */

.hero-iletisim {
    text-align: center;
    background-color: #0074d9;
    color: white;
    padding: 50px 20px;
}

/* Hero Bitiş */



/* İletişim Bilgileri Başlangıç */

.contact-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 30px auto;
    padding: 20px;
    max-width: 1000px;
}

.info-kutusu {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(4, 68, 141, 0.2);
    text-align: center;
}

.info-kutusu h3 {
    margin-bottom: 10px;
    color: #00509e;
}

/* İletişim Bilgileri Bitiş */



/* Harita Başlangıç */

.map-container {
    margin: 30px auto;
    max-width: 900px;
    text-align: center;
}

/* Harita Bitiş */

/* İletişim Formu Başlangıç */
.iletisim-container {
    margin: 30px auto;
    max-width: 600px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(4, 68, 141, 0.2);
}

.iletisim .grup {
    margin-bottom: 15px;
}

.iletisim .input, .iletisim .textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    
}

.iletisim p {

margin-top: 20px;

}


.gonderbtn {
    background-color: #00509e;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
/* İletişim Formu Bitiş */ 



/* Footer Başlangıç */
.footer {
    text-align: center;
    background-color: #003f7d; 
    color: white;
    padding: 10px 0; 
    font-size: 14px;
}
/* Footer Bitiş */

