

body {
    background-color: #00509e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1366px;
    height: 100%;
}

.loginkutu {
    display: flex;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Sol taraf görsel */
.image {
    flex: 1;
}

.image img {
    margin-top: 25px;
    width: 330px;
    height: 320px;
    object-fit: cover;
}

/* Sağ taraf form */
.sag {
    flex: 1;
    padding: 20px 30px;
    text-align: center;
}

.sag h2 {
    margin-bottom: 20px;
    font-size: 22px;
}

.email{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.sifre{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}



.login {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}



.sifresıfırla {
    display: block;
    margin: 10px 0;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}



.social-buttons {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

.social-buttons button {
    padding: 8px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.facebook { background-color: #3b5998; }
.google { background-color: #db4437; }
.twitter { background-color: #1da1f2; }


.register {
    color: #007bff;
    text-decoration: none;
}

